<div ng-controller="pageWithTopMenuController">
</div>
<div ng-controller="AccountantTransactionsController">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li class="active">Accountant Transactions</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Accountant Transactions <small></small></h1>
  <!-- end page-header -->
  <div class="row" id="print-hide">
    <div class="col-md-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          </div>
          <h4 class="panel-title">Accountant Transactions List</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <div class="col-md-1">
              <select class="form-control" name="pType" ng-model="pType">
                <option value=""> Pay Type </option>
                <option value="Cash">Cash</option>
                <option value="PayTM">PayTM</option>
                <option value="CreditCard">CreditCard</option>
                <option value="DebitCard">DebitCard</option>
                <option value="OnlineTransfer">OnlineTransfer</option>
                <option value="Cheque">Cheque</option>
              </select>
            </div>
            <div class="col-md-1">
              <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-inverse" ng-model="storeId" name="storeId" required ng-change="areaSelected(storeId)">
                  <option value="" > Stores </option>
                  <option ng-repeat="a in areasList" value="{{a.id}}" ng-selected="a.id==storeId">{{a.name}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="input-group input-daterange">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span>
                <input type="text" class="form-control" id="datepicker-default-from" placeholder="Select Date From" ng-model="fromDateSelected" />
                <span class="input-group-addon"> To </span>
                <input type="text" class="form-control" id="datepicker-default-to" placeholder="Select Date To" ng-model="dateSelected" />
                <span class="input-group-btn" ng-click="filterOrdersBydate()">
                  <button class="btn btn-primary" type="button"><i class="fa fa-filter" ></i></button>
                </span>
              </div>
            </div>
            <div class="col-md-1">
              <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-inverse" ng-model="account" name="account" required>
                  <option value="" > Bank </option>
                  <option value="hdfc">HDFC(667788)</option>
                  <option value="paytm">Paytm(112233)</option>                  
              </select>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-primary" ng-click="assignToBank()" ng-if="userRole == 'ACCOUNTS_ADMIN'"><i class="fa fa-user"></i> &nbsp; Send to Bank </button>
              <br />
            </div>            
            <div class="col-md-2 text-center">
              <strong class="form-control no-border"> Total Collection: {{totalPaidAmount}} </strong>
            </div>
            <div class="col-md-2 search1">
              <input class="form-control" type="search" ng-model="search" name="search" placeholder="Search" ng-change="applyGlobalSearch()" />
              <br />
            </div>
            <div class="col-md-12 scroll-y">
              <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" ng-show="tHistory !=''">
                <tbody>
                  <tr ng-repeat="ord in $data">
                    <td data-title="'#'">
                      <input type="checkbox" ng-class="{'hide':(ord.account !=='')}" ng-model="acOrder.orders[$index]" name="sorders-{{$index}}" class="input-white sorders" ng-true-value="{{ord.id}}" />
                    </td>
                    <!-- <td data-title="'#'">&nbsp;</td> -->
                    <td data-title="'R.No'" sortable="'receiptNo'" ng-bind="ord.receiptNo"></td>
                    <!-- <td data-title="'orderId'" sortable="'orderId'">
                      <a target="_blank" href="#app/order-details-only/{{ord.orderId}}">{{ord.orderId}}</a>
                    </td> -->
                    <td data-title="'Paid Date'" class="nowrap">{{ord.paymentDate.split(' ')[0]}}</td>
                    <td data-title="'Paid Amount'">{{ord.paidAmount}}</td>
                    <td data-title="'Bill Amount'">{{ord.billAmount}}</td>
                    <td data-title="'PType'" sortable="'paymentType'">{{ord.paymentType}}</td>
                    <td data-title="'TNo'" sortable="'transactionNumber'">{{ord.transactionNumber}}</td>
                    <td data-title="'Feedback'" style="width: 10%;">{{ord.paymentFeedback}}</td>
                    <td data-title="'cbName'">{{ord.cname}}</td>
                    <td data-title="'cbDate'">{{ord.cbDate.split(' ')[0]}}</td>
                    <td data-title="'acName'">{{ord.acName}}</td>
                    <td data-title="'acDate'">{{ord.acDate.split(' ')[0]}}</td>
                    <td data-title="'Deposit'">{{ord.account}}</td>
                    <td data-title="'dpDate'">{{ord.dpDate.split(' ')[0]}}</td>
                    <!-- <td data-title="'Action'" class="text-center">
                      <i class="fa fa-trash icon-20px" ng-click="unAssignToAc(ord.id,true);" style="cursor:pointer;" ng-class="{'hide':(ord.acId ==null)}"></i>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<style type="text/css">
  @media print {
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 5px!important;
        border: 1px solid #ccc !important;
    }
  }
</style>

</div>