<div ng-controller="pageWithTopMenuController">
</div>
<div ng-controller="ApartmentBlockController">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li class="active">Apartment Blocks </li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">{{apartment.name}} Apartment Details<small></small></h1> 
    <!-- end page-header -->
    
    <div class="row"> 
        <div class="col-md-3" ng-repeat="b in blocks" >
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Block - {{b.name}} Flats</h4>
                </div>
                <div class="panel-body">
					<span ng-repeat="f in b.flats">
                    	<a style="margin-bottom:10px;" class="btn btn-white m-r-5" href="#/app/flatcustomers/id/{{f.id}}">{{f.name}}</a>
                    </span>		
                    
                </div>
            </div> 
                </div>
            
                </div>
            </div>
