<div ng-controller="pageWithTopMenuController">
</div>
<div ng-controller="CustomerAptListController">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li class="active">Customers List</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Apartments Lists<small></small></h1>
  <!-- end page-header -->
  
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          </div>
          <h4 class="panel-title">Add / Modify Apartment</h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" name="validationForm" ng-submit="addAptCustomer()" >  
            <div class="form-group">
             <label class="col-md-4 control-label">Select  Apartment <span class="text-danger">*</span></label>
             <div class="col-md-6">
              <select class="form-control" ng-model="customer.apartment" name="apartment" required ng-change="getBlocks();" >
                <option value="">Select Apartment</option>
                <option ng-repeat="apt in apartments" value="{{apt.id}}" ng-selected="apt.id==customer.apartment" >{{apt.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-show="blocks">
           <label class="col-md-4 control-label">Select  Block <span class="text-danger">*</span></label>
           <div class="col-md-6">
            <select class="form-control" ng-model="customer.block" name="block" required ng-change="getFlats();"  >
              <option value="">Select Block</option>
              <option ng-repeat="b in blocks" value="{{b.id}}" ng-selected="b.id==customer.block" >{{b.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-show="flats">
         <label class="col-md-4 control-label">Select  Flat <span class="text-danger">*</span></label>
         <div class="col-md-6">
          <select class="form-control" ng-model="customer.flat" name="flat" required >
            <option value="">Select Flat</option>
            <option ng-repeat="f in flats" value="{{f.id}}" ng-selected="f.id==customer.flat" >{{f.name}}</option>
          </select>
        </div>
      </div>
      
      <div class="form-group" ng-show="customer.flat">
       <label class="col-md-4 control-label">Select User Type <span class="text-danger">*</span></label>
       <div class="col-md-6">
         <select class="form-control" ng-model="customer.subType" name="subType" required ng-options="st for st in subtypes" >
         </select>
       </div>
     </div>
     
     <div class="form-group" ng-show="customer.subType=='tenant'">
      <label class="control-label col-md-4" for="customers">Owner Name <span class="text-danger">*</span></label>
      <div class="col-md-6">
        <input type="text" autocomplete="off" class="form-control" ng-model="customer.ownerName" name="firstname" placeholder="Enter Owner Name"  />
      </div>
    </div>
    <div class="form-group" ng-show="customer.subType=='tenant'">
      <label class="control-label col-md-4" for="customers">Owner Mobile <span class="text-danger">*</span></label>
      <div class="col-md-6">
        <input type="text" autocomplete="off" class="form-control" ng-model="customer.ownerMobile" name="ownerMobile" placeholder="Enter Owner Mobile"  />
      </div>
    </div>
    <div class="form-group" ng-show="customer.subType=='tenant'">
      <label class="control-label col-md-4" for="ownerEmail">Owner Email </label>
      <div class="col-md-6">
        <input type="text" autocomplete="off" class="form-control" ng-model="customer.ownerEmail" name="ownerEmail" placeholder="Enter Owner Email"  />
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-md-4" for="customers">First Name <span class="text-danger">*</span></label>
      <div class="col-md-6">
        <input type="text" autocomplete="off" class="form-control" ng-model="customer.firstname" name="firstname" placeholder="Enter First Name" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="customer">Last Name <span class="text-danger">*</span></label>
      <div class="col-md-6">
        <input type="text" autocomplete="off" class="form-control" ng-model="customer.lastname" name="lastname" placeholder="Enter Last Name" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="customer">Email <span class="text-danger">*</span></label>
      <div class="col-md-6">
        <input type="email" autocomplete="off" class="form-control" ng-model="customer.email" name="email" placeholder="Enter Email" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4" for="customer">Mobile <span class="text-danger">*</span></label>
      <div class="col-md-6">
        <input type="text" autocomplete="off" class="form-control" ng-model="customer.mobile" name="mobile" placeholder="Enter Mobile Number" required />
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-md-4" for="customer">Whatsapp </label>
      <div class="col-md-6">
        <input type="text" autocomplete="off" class="form-control" ng-model="customer.whatsapp" name="whatsapp" placeholder="Enter Whatsapp Number" required />
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-md-4" for="customer">Show in Tele </label>
      <div class="col-md-3">
        <input type="radio" ng-model="customer.showintele" name="customer.showintele" autocomplete="off" value="1"   /> Yes
      </div> 
      <div class="col-md-3">
        <input type="radio" ng-model="customer.showintele" name="customer.showintele" autocomplete="off" value="0"   /> No
      </div>  
    </div>
    <div class="form-group m-b-0">
      <label class="control-label col-md-4"></label>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary width-xs">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
<div class="col-md-8">
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      </div>
      <h4 class="panel-title">Apartments List</h4>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <div class="col-md-3 search1">
          <input class="form-control" type="search" ng-model="search" name="search" placeholder="Search"  /><br />
        </div> 
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" width="100%">
          <tbody>
            <tr ng-repeat="c in $data | filter:search" > 
              <td data-title="'S.No'" sortable="'id'">{{c.id}}</td>
              <td data-title="'Apartment'" sortable="'apt_id.name'">{{c.apt_id.name}}</td>
              <td data-title="'Block'" sortable="'block_id.name'">{{c.block_id.name}}</td>
              <td data-title="'Flat'" sortable="'flat_id.name'">{{c.flat_id.name}}</td>
              <td data-title="'First Name'" sortable="'firstname'">{{c.firstname}}</td>
              <td data-title="'Last Name'" sortable="'lastname'">{{c.lastname}}</td>
              <td data-title="'Email'" sortable="'email'">{{c.email}}</td>
              <td data-title="'Mobile'" sortable="'mobile'">{{c.mobile}}</td>
              <td data-title="'status'" sortable="'status'"><img src="assets/img/{{c.status}}.png" ng-click="statusCustomer(c.id);" > </td>
              <td data-title="'Edit'"><img src="assets/img/edit.png" ng-click="editAptCustomer(c.id);" > </td>
              <td data-title="'Place Order'"><a ng-show="c.id" href="#/app/placeorder/id/{{c.id}}" class="btn btn-primary width-xs">Place Order</a> </td>                                
            </tr>
            
          </tbody>
        </table>
      </div>
    </div> 
  </div>
        </div>
    </div>
</div>
