<div ng-controller="pageWithTopMenuController">
</div>
<div ng-controller="CustomerRequestController">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Home</a></li>
    <li class="active">Customer Requests</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Customer Requests <small></small></h1>
  <!-- end page-header -->
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          </div>
          <h4 class="panel-title">Customer Requests List</h4>
        </div>                 
        <div class="panel-body">
          <div class="table-responsive">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="input-group input-daterange">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                  <input type="text" class="form-control" id="datepicker-default-from" placeholder="Select Date From" ng-model="dateSelected"/>
                  <span class="input-group-addon"> To </span>
                  <input type="text" class="form-control" id="datepicker-default-to" placeholder="Select Date To" ng-model="dateSelected"/>
                  <span class="input-group-btn" ng-click="filterRequestsBydate()">
                    <button class="btn btn-primary" type="button"><i class="fa fa-filter" ></i></button>
                  </span>              
                </div>
              </div>
              <div class="col-sm-2" ng-show="userRole == 'SUPER_ADMIN' || userRole == 'CALL_CENTER'">
                <select class="form-control" ng-model="customerRequest.storeObj"  name="area" required ng-change="areaSelected(customerRequest.storeObj)" >
                  <option value="" ng-disabled="true"> -- Select Store -- </option>
                  <option ng-repeat="a in areasList" value="{{a}}" ng-selected="a.id==customer.area">{{a.name}}</option>
                </select>
              </div>
              <div class="col-sm-1" ng-show="userRole == 'SUPER_ADMIN' || userRole == 'CALL_CENTER'">
                <button class="btn btn-primary" ng-click="sendToStore()"><i class="fa fa-bus"></i> &nbsp; Send to Store</button>
              </div>
              <div class="col-md-3 search1">
                <input class="form-control" type="search" ng-model="search" name="search" placeholder="Search" ng-change="applyGlobalSearch()"/><br />
              </div> 
            </div>
            <div class="text-center p-t-40" ng-show="currentItems.length == 0">
              <h4>No records found on selected date</h4> 
            </div>
            <div class="col-md-12 scroll-y" ng-show="currentItems.length>0">
              <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" >
              <tbody>
                <tr ng-repeat="cr in $data | filter:search" >
                  <td data-title="" ng-if="userRole == 'SUPER_ADMIN' || userRole == 'CALL_CENTER'">
                    <input type="checkbox" ng-model="customerRequest.requests[$index]" ng-true-value="{{cr.crId}}" name="" ng-click="requestToggled(cr)">
                  </td>
                  <td data-title="'S.No'" sortable="'cr.crId'">{{cr.crId}}</td>
                  <td data-title="'Name'" sortable="'cr.name'">{{cr.name}}</td>
                  <td data-title="'Mobile'" sortable="'cr.mobile'">{{cr.mobile}}</td>
                  <td data-title="'Request Date'" sortable="'cr.requestDateTime'">{{cr.requestDateTime |date:'d-MMM-yyyy'}}</td>
                  <td data-title="'Time Slot'" sortable="'cr.slot'">{{cr.slot}}</td>
                  <td data-title="'Area'" sortable="'cr.areaName'">{{cr.areaName}}</td>
                  <td data-title="'Address'" sortable="'cr.address'">{{cr.address}}</td>
                  <td data-title="'Landmark'" sortable="'cr.landmark'">{{cr.landmark}}</td>
                  <td data-title="'Pickup Boy'" sortable="'cr.pbName'" >{{cr.pbName}} 
                    <span ng-hide="userRole == 'SUPER_ADMIN' || userRole == 'CALL_CENTER'" span class="fa fa-pencil btn" ng-click="toggle(cr.crId)"></span>
                  </td>
                  <td data-title="'Status'" sortable="'cr.status'">{{cr.status}} </td>
                </tr>
              </tbody>
            </table>
            </div>
          <modal title=" Assing to Pickup Boy" visible="showModal">
            <form role="form" ng-submit="assignPickupBoy()" class="form-horizontal">
              <div class="form-group">
                <input type="hidden" name="crId" ng-model="customerRequest.crId">
                <label class="control-label col-md-4" for="city">Pickup Boys
                  <span class="text-danger">*</span>
                </label>
                <div class="col-md-6">
                  <select class="form-control" ng-model="customerRequest.pickupBoyId" name="pickupBoyId" ng-options="p.pbId as p.name for p in pickupBoys" required>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-4"></label>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary">Submit
                  </button>
                </div>
              </div>
            </form>
          </modal>
        </div> 
      </div>
    </div>
  </div>
</div>
