.true{background:url(img/status_on.png); background-repeat:no-repeat; width:37px; height:22px; text-align: -webkit-center;}

.false{background:url(img/status_off.png);background-repeat:no-repeat; width:37px; height:22px; text-align: -webkit-center;}


.strong{

	font-weight: bold !important;
}

.color_00{

	color: #000 !important;

}

 


.panel-title{

	font-size: 15px;

	font-family: sans-serif;

}


.icon-20px{

	font-size: 16px !important;

}
.margin_top{
  margin-top: 10px !important;
}



.disabled{

pointer-events: none;

color: #aaa;

}

.printlbl{

  width:50%;

  border-radius:0; 

  border:1px solid #ccc;

  padding:5px; 

  margin:-1px 0px 0px -4px;

}

.bar-code-generated-div {
    page-break-inside: avoid;
}

#barcodeImage img{

  width: 170px !important;

  height: 110px !important;

   border: none !important; 

}



